<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @product.id %>
</p>

<p>
  <b>Camera type:</b>
  <%= @product.camera_type %>
</p>

<p>
  <b>Colour:</b>
  <%= @product.colour %>
</p>

<p>
  <b>Brand:</b>
  <%= @product.brand %>
</p>

<p>
  <b>Lcd screen size:</b>
  <%= @product.LCD_screen_size %>
</p>

<p>
  <b>Megapixel range:</b>
  <%= @product.megapixel_range %>
</p>

<p>
  <b>Model code:</b>
  <%= @product.model_code %>
</p>

<p>
  <b>Model description:</b>
  <%= @product.model_description %>
</p>

<p>
  <b>Optical zoom:</b>
  <%= @product.optical_zoom %>
</p>

<p>
  <b>Retail price:</b>
  <%= @product.retail_price %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Product image:</b>
  <%= @product.product_image %>
</p>

<p>
  <b>Model text:</b>
  <%= @product.model_text %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
